<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title></title>
  </head>
  <body>

 <div id="topBar">
    <div id="pageTitle">
      <h1>View Game</h1>
    </div>
    <div id="logout">
      <a href="/user/logout">Logout</a>
    </div>
  </div>
  <div id="container">
    
    <h1>Game Entry</h1>



<div>
        <div>Game Title: <%= game.title %></div>

        <div>Rating (1-10): <%= game.rating %></div>

        <div>Image URL (optional): <%= game.img %></div>
        
        <div>Description: <br/><textarea rows="10" cols="30" name="description" form="entryForm" style="overflow:hidden" disabled><%= game.description %></textarea><div>
         

         <a href="/user/games/edit/<%= game._id %>">Edit</a>
          <form action="/user/games/delete?_method=DELETE" method="post">
            <input type="submit" value="Remove from library">
            <input type="hidden" name="id" value="<%= game._id %>">
          </form>
    </div>

  </div>  
  </body>
</html>